* {
    --primary-color: #3498db;
  }
  
  body {
    color: #555; /* Steel Gray */
    font-family: "Roboto", sans-serif;
  }
  
  .navbar-brand {
    font-size: 30px;
  }
  
  .nav-link {
    font-size: 18px !important;
    font-weight: 500;
  }
  
  .head-section{
    background-image: linear-gradient(180deg, #c4b6fd, #93acfc);
  }
  
  .navbar-brand,
  .text-primary {
    color: #0a58ca !important;
  }
  
  .btn-primary {
    background-color: #0a58ca !important;
    border: none;
  }
  
  .nav-link:hover {
    color: #0a58ca;
  }
  
  p {
    font-size: 18px;
  }
  .btn-primary:hover {
    background-color: #257dfd !important;
  }
  
  .blue-bg {
    background-color: #0a58ca;
    color: #fff;
  }
  
  .ionicons {
    color: #0a58ca;
    background-color: #f2f2f2;
    padding: 10px;
    height: 30px;
    width: 30px;
    margin-bottom: 12px;
  }
  
  .nav-tabs {
    border: none;
  }
  
  .nav-tabs .active {
    background-color: #0a58ca !important;
    border: none;
    color: #fff !important;
  }
  
  .footer-section {
    background-color: #0a58ca !important;
    border: none;
    color: #fff !important;
  }
  